<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @gallery.file %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @gallery.image_type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @gallery.order %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gallery.owner %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
